<a href="https://colab.research.google.com/github/danielsiqueiradev/analise_de_dados/blob/main/NF3_BIG_DATA_Daniel_SIqueira.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [171]:
#Tabela base importada do .csv
import pandas as pd

dados = pd.read_csv('world_alcohol.csv', sep=',')
dados

,Year,WHO region,Country,Beverage Types,Display Value
0,1986,Western Pacific,Viet Nam,Wine,0.00
1,1986,Americas,Uruguay,Other,0.50
2,1985,Africa,Cte d'Ivoire,Wine,1.62
3,1986,Americas,Colombia,Beer,4.27
4,1987,Americas,Saint Kitts and Nevis,Beer,1.98
...,...,...,...,...,...
95,1984,Africa,Niger,Other,0.00
96,1985,Europe,Luxembourg,Wine,7.38
97,1984,South-East Asia,Indonesia,Wine,0.00
98,1984,Africa,Equatorial Guinea,Wine,0.00
99,1985,South-East Asia,Democratic People's Republic of Korea,Wine,0.00

In [187]:
#ExercÃ­cio 1.a)
#a. Agrupe os dados por tipo de bebidas;


import pandas as pd

dados = pd.read_csv('world_alcohol.csv', sep=',')

dados['Beverage Types'].value_counts()

Other      28
Wine       27
Beer       24
Spirits    21
Name: Beverage Types, dtype: int64

In [184]:
#ExercÃ­cio 1.b)
#b. Agrupe os dados por RegiÃ£o e por Ano;

# Agrupar os dados por 'WHO region' e 'Year'
grupo = dados.groupby(['WHO region', 'Year'])

# Exemplo: Imprimir o nÃºmero de linhas em cada grupo
print(grupo.size())

WHO region             Year
Africa                 1984    4
                       1985    9
                       1986    4
                       1987    6
                       1989    6
Americas               1984    2
                       1985    1
                       1986    6
                       1987    5
                       1989    5
Eastern Mediterranean  1984    5
                       1985    1
                       1986    3
                       1987    5
                       1989    4
Europe                 1984    4
                       1985    6
                       1986    6
                       1987    3
                       1989    3
South-East Asia        1984    1
                       1985    1
                       1986    2
Western Pacific        1984    2
                       1985    2
                       1986    2
                       1987    2
dtype: int64

In [196]:
#ExercÃ­cio 1.C)
# SeÃ§Ã£o de Contagens: Contar a ocorrÃªncia de RegiÃµes, de PaÃ­ses e a soma da coluna de valores por Bebida.

# Contar a ocorrÃªncia de regiÃµes
contagem_regioes = dados.groupby('WHO region').size()

# Contar a ocorrÃªncia de paÃ­ses
contagem_paises = dados.groupby('Country').size()

# Somar a coluna de valores por bebida
soma_valores_por_bebida = dados.groupby('Beverage Types')['Display Value'].sum()

# Exemplo: Imprimir os resultados
print('Contagem de RegiÃµes:')
print(contagem_regioes)
print('\nContagem de PaÃ­ses:')
print(contagem_paises)
print('\nSoma da coluna de valores por Bebida:')
print(soma_valores_por_bebida)

Contagem de RegiÃµes:
WHO region
Africa                   29
Americas                 19
Eastern Mediterranean    18
Europe                   22
South-East Asia           4
Western Pacific           8
dtype: int64

Contagem de PaÃ­ses:
Country
Afghanistan                                             2
Angola                                                  1
Antigua and Barbuda                                     1
Austria                                                 1
Bahamas                                                 1
                                                       ..
Ukraine                                                 3
United Kingdom of Great Britain and Northern Ireland    1
Uruguay                                                 1
Viet Nam                                                4
Zimbabwe                                                1
Length: 80, dtype: int64

Soma da coluna de valores por Bebida:
Beverage Types
Beer       35.50
Other      14.93
Spirits    30.97
Wine       23.39
Name: Display Value, dtype: float64

In [207]:
#ExercÃ­cio 1.d)
#Realize anÃ¡lises estatÃ­sticas da coluna dos valores: MÃ©dia, Moda, Mediana, EstatÃ­stica
#Descritiva e GrÃ¡fico de comparaÃ§Ã£o dos valores agrupados por tipo de bebida.

import pandas as pd

dados = pd.read_csv('world_alcohol.csv', sep=',')

media = dados['Display Value'].mean()
mediana = dados['Display Value'].median()
moda = dados['Display Value'].mode()

print('A mÃ©dia Ã©:', media)
print('A mediana Ã©:', mediana)
print('A moda Ã©:', moda)

A mÃ©dia Ã©: 1.1030526315789473
A mediana Ã©: 0.19
A moda Ã©: 0    0.0
Name: Display Value, dtype: float64

In [220]:
#ExercÃ­cio 1.e)
#  Mostre resultados de acordo com alguns critÃ©rios: 
# i. Mostrar a coluna de bebidas do ano de 1985.

#i
filtro = dados[dados['Year'] == 1985]
filtro_bebidas = filtro['Beverage Types']
filtro_bebidas

2        Wine
7     Spirits
12       Beer
14    Spirits
24      Other
26       Wine
33      Other
35    Spirits
44      Other
50      Other
63      Other
71      Other
76       Beer
77    Spirits
80      Other
81       Wine
85       Wine
94    Spirits
96       Wine
99       Wine
Name: Beverage Types, dtype: object

In [231]:
#ExercÃ­cio 1.e)
#  Mostre resultados de acordo com alguns critÃ©rios: 
# ii. Mostrar a coluna de RegiÃ£o com valores acima de 4.

import pandas as pd

dados = pd.read_csv('world_alcohol.csv', sep=',')

filtro = dados[dados['Display Value'] > 4]
filtro
filtro_regiao = filtro['WHO region']
filtro_regiao

3     Americas
9       Africa
21    Americas
30      Africa
41      Europe
57      Europe
91      Europe
96      Europe
Name: WHO region, dtype: object